/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-image: url('background_image.jpg');
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Boutons de navigation */
nav .nav-buttons, .sub-nav-buttons {
    text-align: center;
    margin: 20px 0;
}

nav .nav-buttons button, .sub-nav-buttons button {
    background-color: #9146FF;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.block {
    width: 100%;
    max-width: 600px;
}

.video-rotation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-rotation span {
    cursor: pointer;
    font-size: 24px;
    color: white;
    padding: 0 15px;
}

/* Transition pour le fondu */
#video-player {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
}

/* Style des blocs speedruns en horizontal */
.speedrun-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.speedrun-list li {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Planning spécifique */
.planning-image {
    width: 100%;
    max-width: 80%; /* Agrandit l'image */
    display: block;
    margin: 0 auto;
}

/* Liens Contact */
#contact a {
    color: white;
    text-decoration: underline;
}

/* Media Queries pour mobile */
@media (max-width: 768px) {
    header {
        font-size: 1.2em;
        padding: 10px;
    }

    nav .nav-buttons button, .sub-nav-buttons button {
        padding: 8px 15px;
        font-size: 12px;
    }

    .video-rotation iframe {
        width: 100%;
        height: auto;
    }

    .video-rotation {
        flex-direction: column;
    }

    .speedrun-list {
        flex-direction: column;
        align-items: center;
    }

    .speedrun-list li {
        font-size: 1em;
        width: 100%;
        margin-bottom: 10px;
    }

    .twitch-section {
        margin: 10px 0;
    }
}
