body {
    font-family: Arial, sans-serif;
    background-image: url('background_image.jpg');
    background-size: cover;
    color: white; /* Texte en blanc pour tout le site */
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fond sombre pour le header */
}

nav .nav-buttons {
    text-align: center;
    margin: 20px 0;
}

nav .nav-buttons button {
    background-color: #9146FF;
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

nav .nav-buttons button:hover {
    background-color: #772ce8;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permet l'affichage horizontal des cartes */
}

.block {
    display: none;
}

.block.active {
    display: block;
}

.video-rotation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-rotation button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: white; /* Texte des boutons de rotation en blanc */
    cursor: pointer;
}

.speedrun-cards {
    display: flex;
    justify-content: center; /* Centrer les cartes */
    flex-wrap: wrap; /* Permet le passage à la ligne */
}

.speedrun-card {
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc pour les cartes */
    color: black; /* Texte en noir pour les cartes */
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px; /* Largeur fixe pour les cartes */
}

.twitch-section {
    margin: 20px 0;
}

.twitch-section img {
    width: 100%;
    border: 2px solid #9146FF;
}
